* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /* em = busca referência da fonte no elemento pai.
  rem = busca referência na raiz. */
}

body {
  height: 100vh;
  
  color: white;
  
  background: #ebf2f5;
}

body, input, button, textarea {
  /* weight, size/line height, family */
  font: 400 1.8rem/1 'Nunito', sans-serif;
}